$primary_background_color: #3C429E;
$secondary_background_color: #4C52AD;
$terciary_background_color: #2d3386;

$yellow_color: #FAC742;
$white_color: white;
$grey_color: grey;

// shadows
$shadow-dark-color: rgba(0,0,0,0.3);
$shadow-light-color: rgba(255,255,255,0.1);