<!-- Weather Search -->
<app-search (formValue)="getDataFromChild($event)"></app-search>

<!-- Weather Info -->
<div class="container">
  <div class="container-upperData">
    <!-- date -->
    <div class="date">
      <p>{{ myDate | date }}</p>
    </div>
    <!-- Day Image -->
    <img
      src="{{
        getSunriseOrSunset()
          ? '../assets/img/arindam-saha-rSLIzC-dlB4-unsplash.jpg'
          : '../assets/img/nathan-anderson-L95xDkSSuWw-unsplash.jpg'
      }}"
      alt="Photo by Nathan Anderson on Unsplash"
    />

    <!-- WeatherData -->
    <div class="weather-data">
      <!-- location -->
      <div class="weather-data-location">
        <p>Latitude: {{ weather_data.latitude }}</p>
        <p>Longitude: {{ weather_data.longitude }}</p>
      </div>
      <!-- temperature -->
      <div class="weather-data-temperature">
        {{ weather_data.current_weather.temperature | number }} °C
      </div>
    </div>
  </div>
  <div class="container-lowerData">
    <div class="more-info">More Information</div>

    <div class="more-info-container">
      <div class="more-info-container-info-block">
        <div class="more-info-container-info-block-label">
          <!-- icon -->
          <fa-icon class="fa-icon fa-4x" [icon]="faTemperatureEmpty"></fa-icon>
          <!-- data -->
          <span>min</span>
        </div>
        <div class="more-info-container-info-block-value">
          {{ weather_data.daily.apparent_temperature_min[0] }} °C
        </div>
      </div>

      <div class="more-info-container-info-block">
        <div class="more-info-container-info-block-label">
          <!-- icon -->
          <fa-icon class="fa-icon fa-4x" [icon]="faTemperatureFull"></fa-icon>
          <!-- data -->
          <span>max</span>
        </div>
        <div class="more-info-container-info-block-value">
          {{ weather_data.daily.apparent_temperature_max[0] }} °C
        </div>
      </div>

      <div class="more-info-container-info-block">
        <div class="more-info-container-info-block-label">
          <!-- icon -->
          <fa-icon class="fa-icon fa-4x" [icon]="faDroplet"></fa-icon>
          <!-- data -->
          <span>humidity</span>
        </div>
        <div class="more-info-container-info-block-value">
          {{ weather_data.hourly.relativehumidity_2m[0] }} %
        </div>
      </div>

      <div class="more-info-container-info-block">
        <div class="more-info-container-info-block-label">
          <!-- icon -->
          <fa-icon class="fa-icon fa-4x" [icon]="faWind"></fa-icon>
          <!-- data -->
          <span>wind</span>
        </div>
        <div class="more-info-container-info-block-value">
          {{ weather_data.hourly.windspeed_10m[0] }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
